body {
    background-color: #002C55 !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

header {
    height: 95px;
    width: 98%;
    position: fixed;
    left: 1%;
    background-color: #002C55;
}

header .container-fluid {
    height: 80px;
}

header .container-fluid .row {
    height: 100%;
}

header .container-fluid .row .col-md-4 {
    background-color: #B7D2DD;
    display: flex;
    
}

header .container-fluid .row .col-md-4 input {
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 999px;
    padding-left: 20px;
    outline: none;
}

header .container-fluid .row .col-md-4 .round-icon {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 22px;
    margin: auto 10px auto 10px;
    overflow: hidden;
}

header .container-fluid .row .col-md-4 .round-icon:hover {
    opacity: 0.9;
}

header .container-fluid .row .col-md-4 .round-icon img {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    padding: calc(80px + 1%) 1% 1% ;
}

article {
    position: absolute;
    background-color: #fff;
    width: 64%;
    border-radius: 8px;
    top: 95px;
    bottom: 2%;
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 33%;
    height: 500px;
    border-radius: 8px;
    right: 1%;
}

aside a {
    font-weight: 900;
    font-size: 1.3em;
}

aside p {
    color: #fff;
    position: fixed;
    bottom: 0;
    font-weight: 100;
}

.side-bar {
    background-color: #fff;
    height: 80px;
    border-radius: 8px;
    display: block;
    transition: height 0.5s, line-height 0.5s;
    transition-delay: 0.08s;
    margin-bottom: 16px;
    text-align: center;
    line-height: 80px;
}

.side-bar:hover {
    height: 243px;
    line-height: 243px;
}
