:root {
    --light-gray: #f5f5f5;
    --gray: #bebebe;
    --sky-blue: #d1e8f0;
    --navy-blue: #002C55;

    --rounded: 999px;
}

div, img, a, article, label, .post-panel {
    border-radius: 8px;
}

a:hover {
    text-decoration: underline !important;
}

textarea {
    line-height: 30px !important;
    letter-spacing: 2px !important;
}

p {
    line-height: 30px;
    letter-spacing: 2px;
    white-space: pre-line
}

button {
    border-radius: 8px !important;
    color: white;
}

button:hover {
    opacity: 0.8;
}

a {
    text-decoration: none !important;
    color: black;
}

/* 方形 */
.square {
    border-radius: 0;
}

/* 左下圓角 */
.rounded-bl {
    border-radius: 0 0 0 8px;
}

/* 右下圓角 */
.rounded-br {
    border-radius: 0 0 8px 0;
}

.bg-blue {
    background-color: #002C55;
}

.round-icon {
    height: 50px;
    width: 50px;
    border-radius: 22px;
    margin: auto 10px auto 10px;
}

.btn-hover:hover {
    opacity: 0.8;
}

header {
    height: 95px;
    width: 98%;
    left: 1%;
}


.header-bar {
    width: calc(100%/3) !important;
    background-color: var(--sky-blue);
}

header .container-fluid .row .header-bar input {
    height: 45px;
    padding-left: 20px;
}

header .container-fluid .row .header-bar button {
    height: 35px;
    width: 35px;
    top: 22.5px;
    right: 38.5%; 
    border-radius: 999px !important;
}

header .container-fluid .row .header-bar .round-icon i {
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    color: var(--navy-blue);
}

main {
    padding: calc(80px + 1%) 1% 1% ;
}

article {
    width: 64%;
    top: 95px;
    max-height: calc(98% - 95px);
}

article .post-panel {
    width: 98%;
    margin: 1%;
    margin-bottom: 1%;
}

article .post-panel .row .post-action-column {
    width: calc(100%/6);
}

article .post-panel .row .btn-bar {
    height: 120px;
}

article .post-panel .row .post-container {
    width: calc(100%*5/6);
}

article .post-panel .row .post-container textarea {
    margin-right: 10px;
    width: calc(100% - 40px);
    height: 200px;
}

article .post-panel .row .post-container label {
    margin: 2px 0 0 5px;
}

article .post-panel .row .post-container .post-btn {
    width: 10.5%;
    top: 168px;
    right: 60px;
}

article .post-panel .row .post-container .selectedImage {
    margin-top: 10px;
    width: calc(100% - 40px);
}

article .post-panel .row .post-container .selectedImage .image-container:first-of-type {
    margin-left: 0;
}

article .post-panel .row .post-container .selectedImage .image-container img {
    max-height: 200px;
}

article .post-panel .row .post-container .selectedImage .image-container .close-btn {
    line-height: 16px;
    height: 16px;
    width: 16px;
    font-size: 12px;
    top: -5px;
    right: -5px;
    cursor: pointer;
    user-select: none;
}

article .post-panel .row .post-container .selectedImage .image-container .close-btn:active {
    opacity: 0.8;
}

article .post {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
}

article .post .row .poster-information {
    width: calc(100%/6);
}

article .post .row .poster-information .poster-name {
    font-size: 0.5em;
}

article .post .row .post-content-panel {
    width: calc(100%*5/6);
}

article .post .row .post-content-panel .post-content {
    width: calc(100% - 40px);
}

/*隱藏scrollbar*/
article::-webkit-scrollbar {
    display: none;
}

article .post .row .post-content-panel .post-content .likes-icon {
    color: var(--navy-blue);
}

aside {
    right: 1%;
    top: 95px;
}

aside ul .side-bar {
    transition: height 0.5s, line-height 0.5s;
    transition-delay: 0.08s;
    border-radius: 8px;
}

aside ul .side-bar:hover {
    height: 236px;
}

aside ul .side-bar .bar-name {
    line-height: 80px;
}

aside ul .side-bar ul li .explore-item {
    line-height: 40px;
} 
aside .site-information {
    bottom: 0;
}