body {
    background-color: #002C55 !important;
}

body div, body img, body a {
    border-radius: 8px;
}

body button {
    border-radius: 8px;
    color: #fff;
}

body button:hover {
    opacity: 0.8;
}

body a {
    text-decoration: none !important;
    color: black !important;
}

header {
    height: 95px;
    width: 98%;
    position: fixed;
    left: 1%;
    background-color: #002C55;
}

header .container-fluid {
    height: 80px;
}

header .container-fluid .row {
    height: 100%;
}

header .container-fluid .row .col-md-4 {
    background-color: #B7D2DD;
    display: flex;
    
}

header .container-fluid .row .col-md-4 input {
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 999px;
    padding-left: 20px;
    outline: none;
}

header .container-fluid .row .col-md-4 button {
    border-radius: 999px;
    height: 35px;
    width: 60px;
    background-color: #002C55;
    position: absolute;
    top: 22.5px;
    right: 38.6%; 
}

header .container-fluid .row .col-md-4 .round-icon {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 22px;
    margin: auto 10px auto 10px;
    overflow: hidden;
}

header .container-fluid .row .col-md-4 .round-icon:hover {
    opacity: 0.8;
}

header .container-fluid .row .col-md-4 .round-icon img {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    padding: calc(80px + 1%) 1% 1% ;
}

article {
    position: absolute;
    background-color: #fff;
    width: 64%;
    top: 95px;
    bottom: 2%;
    border-radius: 8px;
    overflow: scroll;
}

article .post-block {
    background-color: #f5f5f5;
    height: 200px;
    width: 98%;
    margin-top: 1%;
    border-radius: 8px;
}

article .post-block .row .col-md-2 .profile-photo {
    height: 94px;
}

article .post-block .row .col-md-2 .profile-photo img {
    height: 80px;
    width: 80px;
    margin-top: 8px;
}

article .post-block .row .btn-bar {
    height: 100px;
    width: 80px;
}

article .post-block .row .btn-bar button {
    width: 100%;
    height: 30px;
    background-color: #002C55;
    margin-left: auto;
    margin-right: auto;
}

article .post-block .row textarea {
    margin-top: 7px;
    margin-right: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 7px);
    resize: none;
    border: none;
}

article .post-block .row label {
    margin: 2px 0 0 5px;
    color: #a7a7a7;
}

article .post-block .row .post-btn {
    position: absolute;
    width: 10.5%;
    height: 30px;
    background-color: #002C55;
    bottom: 6px;
    right: 60px;
}

article .post {
    background-color: #f5f5f5;
    height: 300px;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*隱藏scrollbar*/
article::-webkit-scrollbar {
    display: none;
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 33%;
    height: 500px;
    right: 1%;
}

aside a {
    font-weight: 900;
    font-size: 1.3em;
}

aside p {
    color: #fff;
    position: fixed;
    bottom: 0;
    font-weight: 100;
}

.side-bar {
    background-color: #fff;
    height: 80px;
    display: block;
    transition: height 0.5s, line-height 0.5s;
    transition-delay: 0.08s;
    margin-bottom: 16px;
    text-align: center;
    line-height: 80px;
}

.side-bar:hover {
    height: 243px;
    line-height: 243px;
}
